body{
    margin: 0;
}

.container{
    position: static;
    width: 100vw;
    height: 100vh;
    display: grid;
    font-weight: bold;
    font-size: 20px;

    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: 50px 1fr 1fr 100px;

    gap: 10px;
    padding-top: 10px;
    padding-inline: 10px;

    box-sizing: border-box;
}

.header{
    padding: 10px;
    border: 1px solid black;

    grid-column-start: 1;
    grid-column-end: 4;
}

.large1{
    padding: 10px;
    border: 1px solid black;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 4;
}

.large2{
    padding: 10px;
    border: 1px solid black;

    grid-row-start: 2;
    grid-row-end: 4;

}



.small1{
    padding: 10px;
    border: 1px solid black;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
}

.small2{
    padding: 10px;
    border: 1px solid black;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
}

.footer{
    padding: 10px;
    border: 1px solid black;

    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 5;
}

